<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field class="example-full-width" appearance="fill">
      <input rows="6" matInput formControlName="title" placeholder="Title" />
      <mat-error *ngIf="form.get('title').invalid"
        >The title is required</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <textarea
        rows="6"
        matInput
        formControlName="content"
        placeholder="Content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >The content is required</mat-error
      >
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Select Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>

    <div
      class="image__preview"
      *ngIf="imagePreview != '' && imagePreview && form.get('image').valid"
    >
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>

    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
