textarea,
mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image__preview {
  height: 5rem;
  margin: 1rem 0;
}

img {
  max-height: 100%;
}
